@{
    ViewData["Title"] = "Aluno";
}
<h1 class="display-4"> Olá, Aluno!</h1>

<p>Escolha abaixo a opção que mais se enquadra na sua condição: </p>

<br>

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Login</button>
    <button class="btn btn-primary" type="button">Cadastro</button>
</div>