@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Bem-Vindos!</h1>
    <p>Esse é o seu sistema de Controle de Cursos!</p>
    <img src="https://img.freepik.com/vetores-premium/inicializacao-de-negocios-de-treinamento-on-line-tutorial-de-treinamento-na-web-ilustracao-vetorial_143808-498.jpg" />
    
</div>
