@{
    ViewData["Title"] = "Curso";
}

<h4>Preencha os dados para fazer a sua inscrição: </h4>
<br>

<form class="row g-3 needs-validation" novalidate="">
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Primeiro Nome</label>
        <input type="text" class="form-control" id="validationCustom01" required="">
        <div class="valid-feedback">
            Ótimo!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="validationCustom02" required="">
        <div class="valid-feedback">
            Ótimo!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Nome do Curso</label>
        <input type="text" class="form-control" id="validationcourse" required="">
        <div class="valid-feedback">
            Ótimo!
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">CPF</label>
        <input type="text" class="form-control" id="validationCustom05" required="">
        <div class="invalid-feedback">
            Por favor, digite um CPF válido.
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">E-mail</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"> &#64; </span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="">
            <div class="invalid-feedback">
                Por favor, escolha um nome para login.
            </div>
        </div>
    </div>
    <div class="col-12">
        <label for="validationCustom03" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="validationCustom03" required="">
        <div class="invalid-feedback">
            Por favor, escolha uma cidade válida.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">Estado</label>
        <select class="form-select" id="validationCustom04" required="">
            <option selected="" disabled="" value="">Escolha...</option>
            <option>...</option>
        </select>
        <div class="invalid-feedback">
            Por favor, escolha um estado válido.
        </div>
    </div>

    <div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>